<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Danh Sách Hợp Đồng</title>
</head>
<body>
    <div class="container">
        <h1>Danh Sách Hợp Đồng</h1>
		
		<a href="/customer/services">Tạo Hợp Đồng Mới</a>
        <table>
            <thead>
                <tr>
                    <th>ID Hợp Đồng</th>
                    <th>ID Khách Hàng</th>
                    <th>Trạng Thái</th>
                    <th>Tổng Giá</th>
                    <th>Ngày Tạo</th>
                    <th>Hành Động</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="contract : ${contracts}">
                    <td th:text="${contract.contractId}"></td>
                    <td th:text="${contract.customerId}"></td>
                    <td th:text="${contract.contractStatus}"></td>
                    <td th:text="${contract.totalPrice}"></td>
                    <td th:text="${contract.createdAt}"></td>
                    <td>
                        <a th:href="@{/contractDetails/{id}(id=${contract.contractId})}">View Contract Detail</a>
                    </td>
                </tr>
            </tbody>
        </table>

    
    </div>
</body>
</html>
