<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Employee List</title>
</head>
<body>
    <h1 th:text="${service.serviceName}">Service Name</h1>
    <p><strong>Description:</strong> <span th:text="${service.serviceDescription}"></span></p>
    <p><strong>Price:</strong> <span th:text="${service.servicePrice}"></span></p>
    <p><strong>Status:</strong> <span th:text="${service.serviceStatus}"></span></p>
    <img th:src="${service.serviceImage}" alt="Service Image"/>

	<h2>Employee List by Service</h2>
    <table>
        <thead>
            <tr>
                <th>Full Name</th>
                <th>Profile Image</th>
                <th>Experience Years</th>
                <th>Details</th>
				<th>Choose</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="employeeService : ${employeeServices}">
                <td th:text="${employeeService.employee.fullname}"></td> 
                <td>
                    <img th:src="${employeeService.employee.profileImage}" alt="Profile Image" width="50"/>
                </td>
                <td th:text="${employeeService.employee.experienceYears}"></td> 
                <td th:text="${employeeService.details}"></td>
				<td>
					<form th:action="@{/contracts/create}" method="post"> 
						<input type="hidden" name="employeeId" th:value="${employeeService.employee.employeeId}"/> 
						<input type="hidden" name="serviceId" th:value="${service.serviceId}"/>
				  	<button type="submit">Create Contract</button>
					</form>
				</td>
            </tr>
        </tbody>
    </table>
</body>
</html>
