<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Happy Clean | Service</title>
	<th:block th:insert="~{common/home_head_tag}"></th:block>
	
</head>
<body>
	<th:block th:insert="~{common/home_content_first}"></th:block>
	

        <!-- PREVIEW SERVICE SECTION START -->
        <section class="bg-primary-foot ta-center">
            <h2 class="section-title ff-damion bg-primary-foot">Service</h2>
            <div class="contained">
                <p class="col-wide mlmr-a">
                    We offer a wide range of exceptional cleaning services designed to meet your needs. Whether it's residential cleaning, office cleaning, or deep cleaning after construction, we have you covered. Let us help you create a cleaner, healthier environment today!
                </p>
            </div>
            <div class="contained row flex-just-center">
                <div class="col-full">
                    <hr>
                </div>
                <div class="col-tri" th:each="service : ${services}">
                    <i class="bi bi-stars fs-h2"></i>
                    <h3 class="mt-10 ff-damion" th:text="${service.serviceName}"></h3>
					<div class="service-image-container">
					  	<img th:src="@{'/uploads/images/' + ${service.serviceImage}}" alt="Service Image" class="service-image">
					</div>
					<p class="service-price" th:text="'$' + ${service.servicePrice}"></p>
					<a th:href="@{/service/{id}(id=${service.serviceId})}" class="btn-bg2 border-round mt-15">
						Choose Employee
					</a>
					<p th:text="${service.serviceDescription}"></p>
                </div>
            </div>
          <!--  <a href="service" class="btn-bg2 border-round mt-25">
                View our services
            </a>-->
        </section>
        <!-- PREVIEW SERVICE SECTION END -->

       

        <!-- SUBSCRIBE TO NEWS LETTERS START -->
        <section class="subscribe bg-primary-foot" style="background-image: url('../assets/art/overlay.webp');">
            <div class="contained row ta-center">
                <div class="col-balance fc-white">
                    <h3 class="mb-a ff-damion mt-a">Subscribe to our newsletter:</h3>
                </div>
                <div class="col-balance">
                    <form action="#">
                        <input type="email" id="subscribe-email" aria-label="Subscribe to our email news" placeholder="Email" required>
                        <button class="btn-bg2">Subscribe</button>
                    </form>
                </div>
            </div>
        </section>
        <!-- SUBSCRIBE TO NEWS LETTERS ENS -->

        <section class="contained ta-center">
            <h2 class="section-title ff-damion">Reach us</h2>
            <p class="col-wide mlmr-a">
                If you have any questions or need more information about our cleaning services, don't hesitate to reach out. We’re here to help you create a cleaner, healthier environment for your home or office. Let us take care of the mess so you don’t have to!
            </p>
            <a href="contact" class="btn-bg1 border-round mt-25">
                Get in touch
            </a>
        </section>

    </main>
	 <!-- ========== section end ========== -->

		<th:block th:insert="~{common/home_content_footer}"></th:block>

	</body>
	</html>