<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Service</title>
	<th:block th:insert="~{common/home_head_tag}"></th:block>
</head>
<body>
	<th:block th:insert="~{common/home_content_first}"></th:block>
	
	<section class="contained">
		<h2 class="section-title ff-damion">List of Employees for <span th:text="${service.serviceName}"></span></h2>
			 <p class="ta-center col-wide mlmr-a">
					At CleanPro, we provide a team of highly skilled and dedicated employees to ensure perfect cleaning results for you. Browse through the list of available employees below and choose the one who best matches your cleaning needs.	
				</p>
	            <div class="row flex-just-center">
	                <div class="col-tri">
	                    <div class="card-career">
	                        <span class="fs-h4 mb-5 mt-15">Web designer - Entry Level</span>
	                        <p>
	                            <i class="bi bi-calendar"></i>
	                            09/26/23
	                        </p>
	                        <p>
	                            <i class="bi bi-geo-alt"></i>
	                            Philippines - NCR
	                        </p>
	                        <p>
	                            <i class="bi bi-briefcase"></i>
	                            Min 3 years of experience lol!
	                        </p>
	                        <hr>
	                        <div class="ta-center mt-15">
	                            <a href="career-1" class="btn-bg1">Apply now</a>
	                        </div>
	                    </div>
	                </div>
	                <div class="col-tri">
	                    <div class="card-career">
	                        <span class="fs-h4 mb-5 mt-15">Jr Data Analyst</span>
	                        <p>
	                            <i class="bi bi-calendar"></i>
	                            09/26/23
	                        </p>
	                        <p>
	                            <i class="bi bi-geo-alt"></i>
	                            Philippines - NCR
	                        </p>
	                        <p>
	                            <i class="bi bi-briefcase"></i>
	                            Min 5 years of experience lol!
	                        </p>
	                        <hr>
	                        <div class="ta-center mt-15">
	                            <a href="career-1" class="btn-bg1">Apply now</a>
	                        </div>
	                    </div>
	                </div>
	                <div class="col-tri">
	                    <div class="card-career">
	                        <span class="fs-h4 mb-5 mt-15">Web developer - Entry Level</span>
	                        <p>
	                            <i class="bi bi-calendar"></i>
	                            09/26/23
	                        </p>
	                        <p>
	                            <i class="bi bi-geo-alt"></i>
	                            Philippines - NCR
	                        </p>
	                        <p>
	                            <i class="bi bi-briefcase"></i>
	                            Min 3 years of experience lol!
	                        </p>
	                        <hr>
	                        <div class="ta-center mt-15">
	                            <a href="career-1" class="btn-bg1">Apply now</a>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </section>
			</main>
				 <!-- ========== section end ========== -->

					<th:block th:insert="~{common/home_content_footer}"></th:block>

				</body>
				</html>