<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Service</title>
	<th:block th:insert="~{common/home_head_tag}"></th:block>
</head>
<body>
	<th:block th:insert="~{common/home_content_first}"></th:block>
	
	<section class="contained">
		<h2 class="section-title ff-damion">List of Employees for <span th:text="${service.serviceName}"></span></h2>
			 <p class="ta-center col-wide mlmr-a">
				<span th:text="${service.serviceDescription}"></span>
			 </p>
				<form th:action="@{/contracts/create}" method="POST">
				    <input type="hidden" name="serviceId" th:value="${service.serviceId}" />
				    <input type="hidden" name="servicePrice" th:value="${service.servicePrice}" />
				    <input type="hidden" name="serviceName" th:value="${service.serviceName}" />

	            	<div class="row flex-just-center">
	                	<div class="col-tri" th:each="employeeService : ${employeeServices}">
	                    <div class="card-career">
	                        <span class="fs-h4 mb-5 mt-15" th:text="${employeeService.employee.fullname}"></span>
							<img th:src="@{'/uploads/images/' + ${employeeService.employee.profileImage}}" alt="Profile image of {employee.fullname}">
								                       
	                        <!--<p>
	                            <i class="bi bi-calendar"></i>
	                            <span th:text="${employeeService.employee.birthday}"></span>
	                        </p>
	                        <p>
	                            <i class="bi bi-geo-alt"></i>
	                            <span th:text="${employeeService.employee.bio}"></span>
	                        </p>-->
	                        <p>
	                            <i class="bi bi-briefcase"></i> Experience Years:
	                            <span th:text="${employeeService.employee.experienceYears}"></span>
	                        </p>
	                        <hr>
	                        <div class="ta-center mt-15">
								<input type="radio" name="empServiceId" th:value="${employeeService.empServiceId}" required/>
	                        </div>
	                    </div>
	                </div>
				</div>
	         <button type="submit" class="ta-center mt-15 btn-bg1">Request Service</button>
    	</form>
	  </section>
				 <!-- ========== section end ========== -->
		<th:block th:insert="~{common/home_content_footer}"></th:block>
	</body>
</html>