<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Profile</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <h1>Welcome to Your Profile</h1>
    <p>Hello, <span th:text="${session.customer.fullname}">Customer</span>!</p>
	<a href="/customer/info" class="button">View Info</a>

    <ul>
		<li><a th:href="@{/employees/change-password}">Change Password</a></li>
        <li><a th:href="@{/customer/logout}">Logout</a></li>
    </ul>
</body>
</html>