<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/assets_admin/images/favicon.svg" type="image/x-icon" />
    <title>Reset Password | Happy Clean</title>
	<style th:replace="common/head_tag"></style>
  </head>
  <body>
<!--   	<div th:replace="common/ad_content_first"></div> -->
    

      <!-- ========== signin-section start ========== -->
      <section class="signin-section">
        <div class="container-fluid">
          <!-- ========== title-wrapper start ========== -->
          <div class="title-wrapper pt-30">
            <div class="row align-items-center">
              <div class="col-md-6">
                <div class="title">
                  <h2>Happy Clean</h2>
                </div>
              </div>
              <!-- end col -->
              <div class="col-md-6">
                <div class="breadcrumb-wrapper">
                  <nav aria-label="breadcrumb">
                   
                  </nav>
                </div>
              </div>
              <!-- end col -->
            </div>
            <!-- end row -->
          </div>
          <!-- ========== title-wrapper end ========== -->

          <div class="row g-0 auth-row">
            <div class="col-lg-6">
              <div class="auth-cover-wrapper bg-primary-100">
                <div class="auth-cover">
                  <div class="title text-center">
                    <h1 class="text-primary mb-10">Welcome Back</h1>
                    <p class="text-medium">
                      Reset Password Form
                    </p>
                  </div>
                  <div class="cover-image">
                    <img src="/assets_admin//images/auth/signin-image.svg" alt="" />
                  </div>
                  <div class="shape-image">
                    <img src="/assets_admin//images/auth/shape.svg" alt="" />
                  </div>
                </div>
              </div>
            </div>
            <!-- end col -->
            <div class="col-lg-6">
              <div class="signin-wrapper">
                <div class="form-wrapper">
                  <h6 class="mb-15">Please Enter Your Password</h6>
                  <p class="text-sm mb-25">
                    You must enter the same password twice in order to confirm it.
                  </p>
                  <form action="#" th:action="@{/customer/profile/reset-password}" method="POST">
					<input type="hidden" name="token" th:value="${token}" />
                    <div class="row">
                      <div class="col-12">
                        <div class="input-style-1">
							<label for="newPassword">New Password:</label>
							<input type="password" id="newPassword" name="newPassword" required />
                        </div>
                      </div>
					  <div class="col-12">
						<div class="input-style-1">
							<label for="confirmPassword">Confirm New Password:</label>
							<input type="password" id="confirmPassword" name="confirmPassword" required />
					  	</div>
					 </div>
                      <!-- end col -->
                      <div class="col-xxl-6 col-lg-12 col-md-6">
                        <div class="form-check checkbox-style mb-30">

                        </div>
                      </div>
                      <div class="col-12">
                        <div class="button-group d-flex justify-content-center flex-wrap">
                          <button type="submit" class="main-btn primary-btn btn-hover w-100 text-center">
                            Save Password
                          </button>
                        </div>
                      </div>
                    </div>
                    <!-- end row -->
                  </form>
				  <div th:if="${error}">
				          <p th:text="${error}" style="color:red;"></p>
				      </div>
				      
				      <div th:if="${message}">
				          <p th:text="${message}" style="color:green;"></p>
				      </div>
                </div>
              </div>
            </div>
            <!-- end col -->
          </div>
          <!-- end row -->
        </div>
      </section>
      <!-- ========== signin-section end ========== -->
	  

   	<div th:replace="common/ad_content_footer"></div>
  </body>
</html>