<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="shortcut icon" href="../assets_admin//images/favicon.svg" type="image/x-icon" />
	<title>Verify | Customer</title>
	<th:block th:insert="~{common/head_tag}"></th:block>
</head>
<body>
	<section class="signin-section">
		<div class="container-fluid">
			<div class="title-wrapper pt-30">
				<div class="row align-items-center">
					Don't Have An Account Yet? 
					<a th:href="@{/customer/login}" class="hover-underline">
						LOGIN
					</a>
				</div>
			</div>
		</div>
	</section>
</body>
</html>