<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Employee Reviews</title>
</head>
<body>
    <h1>Employee Reviews for Contract ID: <span th:text="${contractId}"></span></h1>

    <h3>Emp Service IDs:</h3>
    <ul>
        <li th:each="empServiceId : ${empServiceIds}" th:text="${empServiceId}"></li>
    </ul>

    <h3>Employee Names:</h3>
    <ul>
        <li th:each="employeeName : ${employeeNames}">
            <span th:text="${employeeName}">Employee Full Name</span>
        </li>
    </ul>

    <h3>Employee Reviews:</h3>
    <ul>
        <li th:each="review : ${employeeReviews}">
            <span th:text="${review.fullname}">Full Name</span> -
            <span th:text="${review.rating}">Rating</span> -
            <span th:text="${review.comment}">Comment</span> -
            <span th:text="${review.createdAt}">Created At</span>
        </li>
    </ul>
</body>
</html>
