<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Select Service</title>
	<th:block th:insert="~{common/home_head_tag}"></th:block>
</head>
<body>
	<th:block th:insert="~{common/home_content_first}"></th:block>
	
	<section class="contained">
		<!-- Employee Full Name -->
		<h2 class="section-title ff-damion"><span th:text="${employee.fullname}"></span></h2>


		<!-- Radio button option for selecting a service -->
		<form th:action="@{/contracts/create}" method="POST">
			<div class="row flex-just-center">
				<div class="col-tri" th:each="empService : ${employeeServices}">
					<div class="card-career">
						<div class="ta-center mt-15">
							<input type="radio" name="empServiceId" th:value="${empService.empServiceId}" required/>
							<!-- Removed duplicate input field -->
							<input type="hidden" name="serviceId" th:value="${empService.service.serviceId}"/>
							<input type="hidden" name="servicePrice" th:value="${empService.service.servicePrice}"/>
							<input type="hidden" name="serviceName" th:value="${empService.service.serviceName}"/>
						</div>
						<span class="fs-h4 mb-5 mt-15" th:text="${empService.service.serviceName}"></span>
						<span class="fs-h4 mb-5 mt-15">Price: <span th:text="${empService.service.servicePrice}"></span></span>
						<span class="fs-h4 mb-5 mt-15" th:text="${empService.service.serviceDescription}"></span>
					</div>
				</div>
			</div>
			<button  type="submit" class="ta-center mt-15 btn-bg1">Request Service</button>
		</form>

	</section>
	<!-- ========== section end ========== -->
	<th:block th:insert="~{common/home_content_footer}"></th:block>
</body>
</html>
