<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contract Payment</title>
    <th:block th:insert="~{common/home_head_tag}"></th:block>
	<style>
		.input-container {
		    display: flex;
		    align-items: center;
		}

		#paymentAmount {
		    padding-right: 20px; 
		    text-align: right;
		}

		.currency-symbol {
		    margin-left: -20px; 
		    font-size: 18px;  
		    color: black; 
		}
		
		#submitButton:disabled {
			    background-color: grey; 
			    color: white;          
			    cursor: not-allowed;    
			}


	</style>
</head>
<body>
    <th:block th:insert="~{common/home_content_first}"></th:block>
	<section class="contained">
		<form id="paymentForm" th:action="@{/contracts/{contractId}/payment/create(contractId=${contractId})}" method="POST">
			<input type="hidden" name="contractId" value="${contract.id}" />
			<div class="row flex-just-center">
				<div class="col-tri">
					<div class="payment-methods mt-8">
						<h3>Payment Information Form</h3>
							<p>Please check the amount before making the payment.</p>
								<label for="paymentAmount">Amount:</label>
									<input type="text" id="paymentAmount" name="amount" th:value="${contract.totalPrice}" th:max="${contract.totalPrice}" placeholder="Enter payment amount" readonly required />
								<span class="currency-symbol">₫</span>

						<div class="payment-methods mt-15">
						       <!-- VNPAY Logo -->
						       <label class="payment-methods">VNPAY
						           <input type="radio" name="paymentMethod" value="VNPAY" checked />
						       </label>

							   <label>BANK TRANFER
									<input type="radio" name="paymentMethod" value="BANK TRANFER"  />
							   </label>
						   </div>

						   <!-- Nút submit -->
						   <div class="ta-center mt-15">
						       <button type="submit" id="submitButton" class="ta-center mt-15 btn-bg1">Payment</button>
						   </div>
					</div>
				</div>
			</div>

			<!-- Hidden Fields to pass data -->
			
		</form>
	</section>

	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script>
	        // Đợi trang tải xong
	        $(document).ready(function() {
	            $('input[name="paymentMethod"]').on('change', function() {
	                if ($('input[name="paymentMethod"]:checked').val() === "BANK TRANFER") {
						alert("Please send the transfer receipt to customer support");
	                    $('#submitButton').prop('disabled', true);
	                } else {
	                    // Nếu lựa chọn là "VNPAY", bật lại nút submit
	                    $('#submitButton').prop('disabled', false);
	                }
	            });
	        });
	    </script>




	<!-- ========== section end ========== -->

	<th:block th:insert="~{common/home_content_footer}"></th:block>
</body>
</html>