<footer class="fc-white">
        <div class="contained row flex-just-center">
            <div class="col-quad">
                <h3 class="ff-damion">Happy Clean</h3>
                <p>
                    Our mission is your vision and your mission is to tell
                    us your vision, so that what you envision will become our mission.
                </p>
                <p>
                    We are a placeholder text and yes we are aware of that. We have generated self awareness ever since
                    the beginning of time and space.
                </p>
            </div>
            <div class="col-quad">
                <h3 class="ff-damion">Get in touch</h3>
                <a href="#" class="display-block fc-white icon-link mt-10 mb-10">
                    <i class="bi bi-envelope-fill"></i>
                    happyclean@gmail.com
                </a>
                <a href="#" class="display-block fc-white icon-link mt-10 mb-10">
                    <i class="bi bi-telephone-fill"></i>
                    +84 1800 1779
                </a>
                <a href="#" class="display-block fc-white icon-link mt-10 mb-10">
                    <i class="bi bi-geo-alt-fill"></i>
                    254 Ben Van Don Street, Ward 5, District 4, Ho Chi Minh City, Viet Nam
                </a>
                <a href="https://www.facebook.com" class="display-inblock fc-white icon-link mt-20" aria-label="Follow on facebook">
                    <i class="bi bi-facebook"></i>
                </a>
                <a href="https://www.instagram.com" class="display-inblock fc-white icon-link" aria-label="Follow on instagram">
                    <i class="bi bi-instagram"></i>
                </a>
                <a href="https://twitter.com" class="display-inblock fc-white icon-link" aria-label="Follow on twitter">
                    <i class="bi bi-twitter"></i>
                </a>
                <a href="https://www.youtube.com" class="display-inblock fc-white icon-link" aria-label="Follow on youtube">
                    <i class="bi bi-youtube"></i>
                </a>
            </div>
            <div class="col-quad">
                <h3 class="ff-damion">Opening hours</h3>
                <p class="mt-10 mb-10 fw-bold">
                    Monday - Friday:
                    <span class="fw-normal display-block">8:00 - 18:00</span>
                </p>
                <p class="mt-10 mb-10 fw-bold">
                    Saturday:
                    <span class="fw-normal display-block">8:00 - 12:00</span>
                </p>
                <p class="mt-10 mb-10 fw-bold">
                    Sunday:
                    <span class="fw-normal display-block">Closed</span>
                </p>
            </div>
            <div class="col-quad">
                <h3 class="ff-damion">Useful Links</h3>
                <a href="index" class="display-block fc-white mt-5 mb-5">
                    <i class="bi bi-chevron-compact-right"></i>
                    Home
                </a>
                <a href="about" class="display-block fc-white mt-5 mb-5">
                    <i class="bi bi-chevron-compact-right"></i>
                    About
                </a>
                <a href="service" class="display-block fc-white mt-5 mb-5">
                    <i class="bi bi-chevron-compact-right"></i>
                    Service
                </a>
                <a href="employee" class="display-block fc-white mt-5 mb-5">
                    <i class="bi bi-chevron-compact-right"></i>
                    Employee
                </a>
                <a href="career" class="display-block fc-white mt-5 mb-5">
                    <i class="bi bi-chevron-compact-right"></i>
                    Career
                </a>
                <a href="contact" class="display-block fc-white mt-5 mb-5">
                    <i class="bi bi-chevron-compact-right"></i>
                    Contact
                </a>
            </div>
        </div>
        <div class="copy ta-center fc-white">
            <small>&copy; HAPPY CLEAN - Copyright 2025</small>
        </div>
    </footer>