<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Johnny Alimoot C.">
    <meta name="description" content="Free corporate web template by JACode - Johnny Alimoot C">
    <meta name="keywords" content="HTML, CSS, Blue, Rounded, Modern, Nice">
    <meta property="og:image" content="art/og-card.png">
    <meta property="og:title" content="Roundazzle - Free corporate web template">
    <meta name="twitter:card" content="summary_large_image">
    <title>Roundazzle | Home</title>
    <link rel="preload" href="assets/icons/bootstrap-icons.css" as="style">
    <link rel="preload" href="assets/css/fontstyle.css" as="style">
    <link rel="preload" href="assets/css/layout.css" as="style">
    <link rel="preload" href="assets/css/animation.css" as="style">
    <link rel="preload" href="assets/css/style.css" as="style">
    <link rel="stylesheet" href="assets/icons/bootstrap-icons.css">
    <link rel="stylesheet" href="assets/css/fontstyle.css">
    <link rel="stylesheet" href="assets/css/layout.css">
    <link rel="stylesheet" href="assets/css/animation.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="icon" type="image/png" href="art/favicon.png">
</head>
