    </main>

    <footer class="fc-white">
        <div class="contained row flex-just-center">
            <div class="col-quad">
                <h3 class="ff-damion">Roundazzle</h3>
                <p>
                    Our mission is your vision and your mission is to tell us your vision...
                </p>
            </div>
            <div class="col-quad">
                <h3 class="ff-damion">Get in touch</h3>
                <a href="#" class="display-block fc-white icon-link mt-10 mb-10">
                    <i class="bi bi-envelope-fill"></i>
                    nonexistentadd@gmail.com
                </a>
                <!-- Thêm thông tin liên hệ khác tại đây -->
            </div>
            <!-- Thêm các phần khác của footer tại đây -->
        </div>
        <div class="copy ta-center fc-white">
            <small>&copy; Your site - Copyright 2023</small>
        </div>
    </footer>
</body>
</html>
