
    <span class="fade"></span>
    <main>
        <nav>
            <div class="contained">
                <a href="index" class="logo fc-primary ff-damion row flex-alig-center">
                    <span class="fs-h2">Happy Clean</span>
                </a>
				<div class="navigation-container">
				                   <a th:href="@{/index}">Home</a>
				                   <a th:if="${session.customerId != null}" th:href="@{/about}">About</a>
				                   <a th:href="@{/service}">Service</a>
				                   <a th:href="@{/employee}">Employee</a>
				                   <a th:if="${session.customerId != null}"th:href="@{/career}">Career</a>
								<a th:if="${session.customerId != null}"th:href="@{/contactus}">Contact Us</a>
								<a th:if="${session.customerId == null}" th:href="@{/contracts}">History</a>
								<a th:if="${session.customerId == null}" th:href="@{/customer/profile/info}">Profile</a>
								<a th:if="${session.customerId != null}" th:href="@{/customer/logout}" class="btn-bg1 border-round">Logout</a>
								<a th:if="${session.customerId == null}" th:href="@{/customer/login}" class="btn-bg1 border-round">Login</a>
				               </div>
            </div>
        </nav>
		<a href="#" class="btn-back-to-top" aria-label="Back to top button">
		  	<i class="bi bi-chevron-up"></i>
		</a>
		<!-- NAVIGATION END -->
