<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Johnny Alimoot C.">
    <!-- DESCRIPTION OF THE PAGE -->
    <meta name="description" content="Free corporate web template by JACode - Johnny Alimoot C">
    
    <!-- KEYWORDS OF THE PAGE TO HELP SEARCH ENGINE -->
    <meta name="keywords" content="HTML, CSS, Blue, Rounded, Modern, Nice">

    <!-- OG IMAGE IS THE IMAGE SHOWN WHEN YOUR WEBSITE LINK IS SHARED ON SOCIAL MEDIA -->
    <meta property="og:image" content="art/og-card.png">
    <meta property="og:title" content="Happy Clean - Cleaning Services">
    <meta name="twitter:card" content="summary_large_image">

    <!-- THE TITLE OF THE PAGE -->
    <title>Happy Clean | Contact</title>

    <link rel="preload" href="assets/icons/bootstrap-icons.css" as="style">
    <link rel="preload" href="assets/css/fontstyle.css" as="style">
    <link rel="preload" href="assets/css/layout.css" as="style">
    <link rel="preload" href="assets/css/animation.css" as="style">
    <link rel="preload" href="assets/css/style.css" as="style">

    <link rel="stylesheet" href="assets/icons/bootstrap-icons.css">
    <link rel="stylesheet" href="assets/css/fontstyle.css">
    <link rel="stylesheet" href="assets/css/layout.css">
    <link rel="stylesheet" href="assets/css/animation.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="icon" type="image/png" href="art/favicon.png">
</head>
<body>
    <!-- FADE OUT ANIMATION WHEN LOADED -->
    <span class="fade"></span>
    <main>
        <!-- SUB HERO BANNER START -->
        <section class="sub-hero-banner" style="background-image: url('assets/art/hero2.webp');">
            <div class="hero-contained">
                <div class="hero-title fc-white">
                    <h1 class="ff-damion">Happy Clean | Contact us</h1>
                    <a href="index" class="fc-white">
                        Home
                    </a>
                    <i class="bi bi-chevron-right"></i>
                    <a href="#" class="fc-white">
                        Contact Us
                    </a>
                </div>
            </div>
            <div class="hero-socials">
                <a href="https://www.facebook.com" class="mt-a icon-link" aria-label="Follow us on facebook">
                    <i class="bi bi-facebook"></i>
                </a>
                <a href="https://www.instagram.com" class="icon-link mt-10" aria-label="Follow us on instagram">
                    <i class="bi bi-instagram"></i>
                </a>
                <a href="https://twitter.com" class="icon-link mt-10" aria-label="Follow us on twitter">
                    <i class="bi bi-twitter"></i>
                </a>
                <a href="https://www.youtube.com" class="icon-link mt-10" aria-label="Follow us on youtube">
                    <i class="bi bi-youtube"></i>
                </a>
            </div>
        </section>
        <!-- SUB HERO BANNER END -->

        <!-- NAVIGATION START -->
        <nav>
            <div class="contained">
                <a href="index" class="logo fc-primary ff-damion row flex-alig-center">
                    <span class="fs-h2">Happy Clean</span>
                </a>
                <input type="checkbox" name="tablet-mobile-menu" class="tab-mob-menu" aria-label="tablet and mobile menu">
                <div class="navigation-container">
					<a th:href="@{/index}">Home</a>
					<a th:if="${session.customerId == null}" th:href="@{/about}">About</a>
					<a th:href="@{/service}">Service</a>
					<a th:href="@{/employee}">Employee</a>
					<a th:if="${session.customerId != null}" th:href="@{/contracts}">History</a>
					<a th:if="${session.customerId == null}"th:href="@{/career}">Career</a>
					<a th:if="${session.customerId != null}" th:href="@{/customer/profile/view}">Profile</a>
					<a th:if="${session.customerId == null}"th:href="@{/contact}">Contact Us</a>
					<a th:if="${session.customerId != null}" th:href="@{/customer/logout}" class="btn-bg1 border-round">Logout</a>
					<a th:if="${session.customerId == null}" th:href="@{/customer/login}" class="btn-bg1 border-round">Login</a>
				</div>
            </div>
        </nav>
        <a href="#" class="btn-back-to-top" aria-label="Back to top button">
            <i class="bi bi-chevron-up"></i>
        </a>
        <!-- NAVIGATION END -->

        <section class="contained">
            <h2 class="section-title ff-damion">Get in touch</h2>
            <p class="col-wide ta-center mlmr-a">
                Some text that would compel the user to contact you if what the user have seen across the page
                wasn't not enough, ofcourse you want as many potential clients as possible.
            </p>
            <div class="row">
                <!-- EMBEDED MAP IFRAME START -->
                <div class="col-balance map-embed">
                    <iframe title="google-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.6773480697516!2d106.6929805732403!3d10.759330859512483!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f59ca50bbbd%3A0x7db210a9383ef622!2sC%C3%B4ng%20Ty%20TNHH%20Happy%20Clean!5e0!3m2!1svi!2s!4v1734074926407!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <!-- EMBEDED MAP IFRAME END -->

                <!-- CONTACT INFO START -->
                <div class="col-balance">
                    <span class="fs-h4 mb-15 mt-25 fc-primary">Where to go:</span>
                    <a href="https://maps.app.goo.gl/rvZSbcrJgEmMtUxy7" class="display-inblock">
                        <i class="bi bi-geo-alt-fill"></i>
                        254 Ben Van Don Street, Ward 5, District 4, Ho Chi Minh City, Viet Nam
                    </a>
                    
                    <span class="fs-h4 mb-15 mt-25 fc-primary">Say hello:</span>
                    <a href="#" class="display-inblock">
                        <i class="bi bi-envelope-fill"></i>
                        happyclean@gmail.com
                    </a>
                    <a href="#" class="display-inblock">
                        <i class="bi bi-telephone-fill"></i>
                        +84 1800 1779
                    </a>
                    
                    <span class="fs-h4 mb-15 mt-25 fc-primary">Follow:</span>
                    <a href="https://www.facebook.com" class="display-inblock mr-10">
                        <i class="bi bi-facebook"></i>
                        Facebook
                    </a>
                    <a href="https://www.instagram.com" class="display-inblock mr-10">
                        <i class="bi bi-instagram"></i>
                        Instagram
                    </a>
                    <a href="https://twitter.com" class="display-inblock mr-10">
                        <i class="bi bi-twitter"></i>
                        Twitter
                    </a>
                    <a href="https://www.youtube.com" class="display-inblock mr-10">
                        <i class="bi bi-youtube"></i>
                        Youtube
                    </a>
    
                    <form action="#" class="message-form mt-50 mb-25">
                        <span class="fs-h4 fc-primary mb-15">Send us a message</span>
                        <div class="row mb-20">
                            <input type="text" id="message-name" placeholder="Your name" aria-label="Input for your name" required>
                            <input type="email" class="ml-a" id="message-email" placeholder="Your email" aria-label="Input for email" required>
                        </div>
                        <input type="text" id="message-subject" aria-label="Input for your message subject" class="mb-20" placeholder="Subject">
                        <textarea id="message-message" rows="5" placeholder="Write a message" aria-label="Input for writing message"></textarea>
                        <button type="submit" class="btn-bg1 border-round mt-20">Send message</button>
                    </form>
                </div>
                <!-- CONTACT INFO END -->

            </div>
        </section>

    </main>

    <!-- FOOTER START -->
    <footer class="fc-white">
        <div class="contained row flex-just-center">

            <!-- FOOTER WEBSITE MOTO START -->
            <div class="col-quad">
                <h3 class="ff-damion">Happy Clean</h3>
                <p>
                    Our mission is your vision and your mission is to tell
                    us your vision, so that what you envision will become our mission.
                </p>
                <p>
                    We are a placeholder text and yes we are aware of that. We have generated self awareness ever since
                    the beginning of time and space.
                </p>
            </div>
            <!-- FOOTER WEBSITE MOTO END -->

            <!-- FOOTER QUICK CONTACT START -->
            <div class="col-quad">
                <h3 class="ff-damion">Get in touch</h3>
                <a href="#" class="display-block fc-white icon-link mt-10 mb-10">
                    <i class="bi bi-envelope-fill"></i>
                    happyclean@gmail.com
                </a>
                <a href="#" class="display-block fc-white icon-link mt-10 mb-10">
                    <i class="bi bi-telephone-fill"></i>
                    +84 1800 1779
                </a>
                <a href="#" class="display-block fc-white icon-link mt-10 mb-10">
                    <i class="bi bi-geo-alt-fill"></i>
                    254 Ben Van Don Street, Ward 5, District 4, Ho Chi Minh City, Viet Nam
                </a>
                <a href="https://www.facebook.com" class="display-inblock fc-white icon-link mt-20" aria-label="Follow on facebook">
                    <i class="bi bi-facebook"></i>
                </a>
                <a href="https://www.instagram.com" class="display-inblock fc-white icon-link" aria-label="Follow on instagram">
                    <i class="bi bi-instagram"></i>
                </a>
                <a href="https://twitter.com" class="display-inblock fc-white icon-link" aria-label="Follow on twitter">
                    <i class="bi bi-twitter"></i>
                </a>
                <a href="https://www.youtube.com" class="display-inblock fc-white icon-link" aria-label="Follow on youtube">
                    <i class="bi bi-youtube"></i>
                </a>
            </div>
            <!-- FOOTER QUICK CONTACT END -->
            
            <!-- FOOTER SCHEDULE START -->
            <div class="col-quad">
                <h3 class="ff-damion">Opening hours</h3>
                <p class="mt-10 mb-10 fw-bold">
                    Monday - Friday:
                    <span class="fw-normal display-block">8:00 - 18:00</span>
                </p>
                <p class="mt-10 mb-10 fw-bold">
                    Saturday:
                    <span class="fw-normal display-block">8:00 - 12:00</span>
                </p>
                <p class="mt-10 mb-10 fw-bold">
                    Sunday:
                    <span class="fw-normal display-block">Closed</span>
                </p>
            </div>
            <!-- FOOTER SCHEDULE END -->
            
            <!-- FOOTER USEFUL LINKS START -->
            <div class="col-quad">
                <h3 class="ff-damion">Useful Links</h3>
                <a th:href="@{/index}" class="display-block fc-white mt-5 mb-5">
                    <i class="bi bi-chevron-compact-right"></i>
                    Home
                </a>
                <a th:href="@{/about}" class="display-block fc-white mt-5 mb-5">
                    <i class="bi bi-chevron-compact-right"></i>
                    About
                </a>
                <a th:href="@{/service}" class="display-block fc-white mt-5 mb-5">
                    <i class="bi bi-chevron-compact-right"></i>
                    Service
                </a>
                <a th:href="@{/employees}" class="display-block fc-white mt-5 mb-5">
                    <i class="bi bi-chevron-compact-right"></i>
                    Employees
                </a>
                <a th:href="@{/blog}" class="display-block fc-white mt-5 mb-5">
                    <i class="bi bi-chevron-compact-right"></i>
                    Blog
                </a>
                <a th:href="@{/career}" class="display-block fc-white mt-5 mb-5">
                    <i class="bi bi-chevron-compact-right"></i>
                    Career
                </a>
                <a th:href="@{/contact}" class="display-block fc-white mt-5 mb-5">
                    <i class="bi bi-chevron-compact-right"></i>
                    Contact
                </a>
            </div>
            <!-- FOOTER USEFUL LINKS END -->
            
        </div>
        <div class="copy ta-center fc-white">
            <small>&copy; Happy Clean - Copyright 2025</small>
        </div>
    </footer>
    <!-- FOOTER END -->

</body>
</html>