<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Service</title>
	<th:block th:insert="~{common/home_head_tag}"></th:block>
</head>
<body>
	<th:block th:insert="~{common/home_content_first_index}"></th:block>
	
<!-- ABOUT SECTION START -->
        <section class="contained row" id="about">
            <h2 class="section-title ff-damion">About us</h2>
            <div class="col-balance">
                <span class="fc-primary fs-h2">
					We are a top-tier cleaning service provider, committed to delivering a spotless and healthy environment for our customers!
                </span>
                <p>
					At <strong>Happy Clean</strong>, our mission is simple: to provide top-quality cleaning services that ensure your spaces are clean, fresh, and safe for everyone. We don't just clean; we create healthier, more comfortable environments for you to live and work in.
                </p>
                <p>
                    Our vision is to become the leading provider in the cleaning industry, with a team of dedicated professionals who are passionate about making your life easier by maintaining clean spaces. We believe that a clean environment enhances well-being, reduces stress, and promotes productivity. </p>
                <p>
					We offer a range of cleaning services using the latest technology and eco-friendly products to ensure the best results. Every task we undertake adds value to our clients, as we don't just clean, we care about the spaces we work in.

                </p>
                
                <a href="about" class="btn-bg1 mt-25 border-round">Find Out More</a>
            </div>
            <div class="col-balance">
                <div class="sticky-img-dual">
                    <img src="../assets/art/hero1.webp" alt="">
                    <img src="../assets/svg/blob.svg" alt="" class="blob">
                    <img src="../assets/art/hero2.webp" alt="">
                </div>
            </div>
            <div class="sticky-img-dual-spacer"></div>
        </section>
        <!-- ABOUT SECTION END -->

        <!-- TEAM SECTION START -->
        <section class="contained">
            <h2 class="section-title ff-damion">Our Team</h2>
            <p class="col-wide mlmr-a ta-center">
                At Happy Clean, our team consists of highly skilled and dedicated cleaning professionals who are passionate about delivering the best results for our clients. We hire only the most reliable and trustworthy individuals to ensure your satisfaction.
            </p>
            <div class="row flex-just-center">
                <div class="col-tri">
                    <article class="card-team">
                        <img src="../assets/art/team.webp" alt="">
                        <h3 class="title ff-damion">Johnny Doe</h3>
                        <div class="info">
                            <h3 class="ff-damion">Cleaning Specialist</h3>
                            <p>
								I take pride in my work and always strive to ensure every space I clean is spotless. My mission is to provide you with a cleaner, healthier environment that you can enjoy every day.
							</p>
                            <p>
                                Whispering in the language of forgotten dreams, I hear the echoes of 
                                desires lost in silent streams.
                            </p>
                        </div>
                    </article>
                </div>
                <div class="col-tri">
                    <article class="card-team">
                        <img src="../assets/art/team.webp" alt="">
                        <h3 class="title ff-damion">Johnny Doe</h3>
                        <div class="info">
                            <h3 class="ff-damion">Frontend Developer</h3>
                            <p>
                                When I gaze upon the stars' gentle embrace, I glimpse a universe of 
                                dreams slipping into space, but dreamers must awaken to a stark and empty place.
                            </p>
                            <p>
                                Whispering in the language of forgotten dreams, I hear the echoes of 
                                desires lost in silent streams.
                            </p>
                        </div>
                    </article>
                </div>
                <div class="col-tri">
                    <article class="card-team">
                        <img src="../assets/art/team.webp" alt="">
                        <h3 class="title ff-damion">Johnny Doe</h3>
                        <div class="info">
                            <h3 class="ff-damion">Frontend Developer</h3>
                            <p>
                                When I gaze upon the stars' gentle embrace, I glimpse a universe of 
                                dreams slipping into space, but dreamers must awaken to a stark and empty place.
                            </p>
                            <p>
                                Whispering in the language of forgotten dreams, I hear the echoes of 
                                desires lost in silent streams.
                            </p>
                        </div>
                    </article>
                </div>
            </div>
            <br>
        </section>
        <!-- TEAM SECTION END -->

		<!-- PREVIEW SERVICE SECTION START -->
		        <section class="bg-primary-foot ta-center">
		            <h2 class="section-title ff-damion bg-primary-foot">Service</h2>
		            <div class="contained">
		                <p class="col-wide mlmr-a">
		                    We offer a wide range of exceptional cleaning services designed to meet your needs. Whether it's residential cleaning, office cleaning, or deep cleaning after construction, we have you covered. Let us help you create a cleaner, healthier environment today!
		                </p>
		            </div>
		            <div class="contained row flex-just-center">
		                <div class="col-full">
		                    <hr>
		                </div>
		                <div class="col-tri" th:each="service : ${services}">
		                    <i class="bi bi-stars fs-h2"></i>
		                    <h3 class="mt-10 ff-damion" th:text="${service.serviceName}"></h3>
							<div class="service-image-container">
							  	<img th:src="@{'/uploads/' + ${service.serviceImage}}" alt="Service Image" class="service-image">
							</div>
							<p th:text="${service.serviceDescription}"></p>
							<p class="service-price" th:text="${service.servicePrice}"></p>
							            
							<!-- Liên kết tới trang chi tiết dịch vụ -->
							<a th:href="@{/service/{id}(id=${service.serviceId})}" class="btn-bg2 border-round mt-15">
								Choose Employee
							</a>

		                </div>
            <a href="service" class="btn-bg2 border-round mt-25">
                View our services
            </a>
        </section>
        <!-- PREVIEW SERVICE SECTION END -->

        <!-- PREVIEW BLOGS SECTION START -->
        <section class="contained">
            <h2 class="section-title ff-damion">Blogs</h2>
            <p class="ta-center col-wide mlmr-a">
                Stay informed about our blogs, it's highly unlikely that they will stay up to date. 
                This will be the latest blog from 2023 when it's already 2026, feel free to read our 
                outdated blogs.
            </p>
            <div class="row flex-just-center">
                <div class="col-tri">
                    <article class="card-blog">
                        <img src="../assets/art/work1.webp" alt="">
                        <div class="info">
                            <h3 class="mt-5 mb-5 ff-damion fc-primary">Duckonomics</h3>
                            <p class="ml-a mt-5">09/26/2023</p>
                        </div>
                        <p class="ml-10 mt-5 mb-20">
                            Duckonomics Meets Quackonomics.
                        </p>
                        <a href="blog-1" class="ml-10">
                            Read blog <i class="bi bi-box-arrow-up-right"></i>
                        </a>
                    </article>
                </div>
                <div class="col-tri">
                    <article class="card-blog">
                        <img src="../assets/art/work2.webp" alt="">
                        <div class="info">
                            <h3 class="mt-5 mb-5 ff-damion fc-primary">Quackonomics</h3>
                            <p class="ml-a mt-5">09/26/2023</p>
                        </div>
                        <p class="ml-10 mt-5 mb-20">
                            A Duck's Guide to Financial Success.
                        </p>
                        <a href="blog-1" class="ml-10">
                            Read blog <i class="bi bi-box-arrow-up-right"></i>
                        </a>
                    </article>
                </div>
                <div class="col-tri">
                    <article class="card-blog">
                        <img src="../assets/art/work3.webp" alt="">
                        <div class="info">
                            <h3 class="mt-5 mb-5 ff-damion fc-primary">Galactic Gastronomy</h3>
                            <p class="ml-a mt-5">09/26/2023</p>
                        </div>
                        <p class="ml-10 mt-5 mb-20">
                            Toasting with the Stars.
                        </p>
                        <a href="blog-1" class="ml-10">
                            Read blog <i class="bi bi-box-arrow-up-right"></i>
                        </a>
                    </article>
                </div>
            </div>
        </section>
        <!-- PREVIEW BLOGS SECTION END -->

        <!-- SUBSCRIBE TO NEWS LETTERS START -->
        <section class="subscribe bg-primary-foot" style="background-image: url('../assets/art/overlay.webp');">
            <div class="contained row ta-center">
                <div class="col-balance fc-white">
                    <h3 class="mb-a ff-damion mt-a">Subscribe to our newsletter:</h3>
                </div>
                <div class="col-balance">
                    <form action="#">
                        <input type="email" id="subscribe-email" aria-label="Subscribe to our email news" placeholder="Email" required>
                        <button class="btn-bg2">Subscribe</button>
                    </form>
                </div>
            </div>
        </section>
        <!-- SUBSCRIBE TO NEWS LETTERS ENS -->

        <section class="contained ta-center">
            <h2 class="section-title ff-damion">Reach us</h2>
            <p class="col-wide mlmr-a">
                If you have any questions or need more information about our cleaning services, don't hesitate to reach out. We’re here to help you create a cleaner, healthier environment for your home or office. Let us take care of the mess so you don’t have to!
            </p>
            <a href="contact" class="btn-bg1 border-round mt-25">
                Get in touch
            </a>
        </section>

    </main>
	 <!-- ========== section end ========== -->

		<th:block th:insert="~{common/home_content_footer}"></th:block>

	</body>
	</html>