<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Service</title>
	<th:block th:insert="~{common/home_head_tag}"></th:block>
</head>
<body>
	<th:block th:insert="~{common/home_content_first}"></th:block>
	
<!-- ABOUT SECTION START -->
        <section class="contained row" id="about">
            <h2 class="section-title ff-damion">About us</h2>
            <div class="col-balance">
                <span class="fc-primary fs-h2">
                    We are a top notch placholder text dedicated to make your vision comes to life! Ofcourse this
                    comes with limitations.
                </span>
                <p>
                    Here at Roundazzle, our mission is crystal clear: to transform your dreams into reality. 
                    We're not just good; we're extremely good, and we're dedicated to making your vision come to life. 
                    Did we mention that we're in the business of turning your vision into reality?
                </p>
                <p>
                    Our vision is your vision and we are good at envisioning vision that you are envisioning and we'll make
                    that vision you are envisioning comes true and we are really good at it yeah believe this placeholder text.
                </p>
                <p>
                    As a placeholder text in the 'About' section, my mission is to captivate your interest. 
                    And what better way to captivate your interest than by entertaining you with visions, missions, 
                    and a dash of whimsy? Or was it mission-vision, vision-mission, a vision that turned into a mission, 
                    itching to become real?
                </p>
                <p>
                    Yes we are a top notch high quality, another top notch and high I wonder where we are 
                    now, in space probably.
                </p>
                <a href="about" class="btn-bg1 mt-25 border-round">Find Out More</a>
            </div>
            <div class="col-balance">
                <div class="sticky-img-dual">
                    <img src="../assets/art/hero1.webp" alt="">
                    <img src="../assets/svg/blob.svg" alt="" class="blob">
                    <img src="../assets/art/hero2.webp" alt="">
                </div>
            </div>
            <div class="sticky-img-dual-spacer"></div>
        </section>
        <!-- ABOUT SECTION END -->

        <!-- TEAM SECTION START -->
        <section class="contained">
            <h2 class="section-title ff-damion">Employee</h2>
            <p class="col-wide mlmr-a ta-center">
                Our team composes of highly competitive cloned
                individual with the same name too, they are top notch motivaded individual
                dedicated to give hundred and ten percent effort to make your vision comes to life.
            </p>
            <div class="row flex-just-center">
                <div class="col-tri">
                    <article class="card-team">
                        <img src="../assets/art/team.webp" alt="">
                        <h3 class="title ff-damion">Johnny Doe</h3>
                        <div class="info">
                            <h3 class="ff-damion">Frontend Developer</h3>
                            <p>
                                When I gaze upon the stars' gentle embrace, I glimpse a universe of 
                                dreams slipping into space, but dreamers must awaken to a stark and empty place.
                            </p>
                            <p>
                                Whispering in the language of forgotten dreams, I hear the echoes of 
                                desires lost in silent streams.
                            </p>
                        </div>
                    </article>
                </div>
                <div class="col-tri">
                    <article class="card-team">
                        <img src="../assets/art/team.webp" alt="">
                        <h3 class="title ff-damion">Johnny Doe</h3>
                        <div class="info">
                            <h3 class="ff-damion">Frontend Developer</h3>
                            <p>
                                When I gaze upon the stars' gentle embrace, I glimpse a universe of 
                                dreams slipping into space, but dreamers must awaken to a stark and empty place.
                            </p>
                            <p>
                                Whispering in the language of forgotten dreams, I hear the echoes of 
                                desires lost in silent streams.
                            </p>
                        </div>
                    </article>
                </div>
                <div class="col-tri">
                    <article class="card-team">
                        <img src="../assets/art/team.webp" alt="">
                        <h3 class="title ff-damion">Johnny Doe</h3>
                        <div class="info">
                            <h3 class="ff-damion">Frontend Developer</h3>
                            <p>
                                When I gaze upon the stars' gentle embrace, I glimpse a universe of 
                                dreams slipping into space, but dreamers must awaken to a stark and empty place.
                            </p>
                            <p>
                                Whispering in the language of forgotten dreams, I hear the echoes of 
                                desires lost in silent streams.
                            </p>
                        </div>
                    </article>
                </div>
            </div>
            <br>
        </section>
        <!-- TEAM SECTION END -->

        <!-- PREVIEW SERVICE SECTION START -->
        <section class="bg-primary-foot ta-center">
            <h2 class="section-title ff-damion bg-primary-foot">Service</h2>
            <div class="contained">
                <p class="col-wide mlmr-a">
                    Here's our range of exceptional services, designed to meet your needs with both quality 
                    and affordability in mind. Don't hesitate to experience the difference today. Go ahead, 
                    listen to this placeholder text.
                </p>
            </div>
            <div class="contained row flex-just-center">
                <div class="col-full">
                    <hr>
                </div>
                <div class="col-tri">
                    <i class="bi bi-stars fs-h2"></i>
                    <h3 class="mt-10 ff-damion">Web designing</h3>
                    <p>
                        Picking through the moments, aware of what's nearby, the etchings on existence, where 
                        realities comply, and the façade crumbles, exposing what's inside, the laughter turns 
                        hollow, when denial can't hide.
                    </p>
                </div>
                <div class="col-tri">
                    <i class="bi bi-diagram-3 fs-h2"></i>
                    <h3 class="mt-10 ff-damion">Data Analysis</h3>
                    <p>
                        Picking through the moments, aware of what's nearby, the etchings on existence, where 
                        realities comply, and the façade crumbles, exposing what's inside, the laughter turns 
                        hollow, when denial can't hide.
                    </p>
                </div>
                <div class="col-tri">
                    <i class="bi bi-code-slash fs-h2"></i>
                    <h3 class="mt-10 ff-damion">Development</h3>
                    <p>
                        Picking through the moments, aware of what's nearby, the etchings on existence, where 
                        realities comply, and the façade crumbles, exposing what's inside, the laughter turns 
                        hollow, when denial can't hide.
                    </p>
                </div>
            </div>
            <a href="service" class="btn-bg2 border-round mt-25">
                View our services
            </a>
        </section>
        <!-- PREVIEW SERVICE SECTION END -->

        <!-- PREVIEW BLOGS SECTION START -->
        <section class="contained">
            <h2 class="section-title ff-damion">Blogs</h2>
            <p class="ta-center col-wide mlmr-a">
                Stay informed about our blogs, it's highly unlikely that they will stay up to date. 
                This will be the latest blog from 2023 when it's already 2026, feel free to read our 
                outdated blogs.
            </p>
            <div class="row flex-just-center">
                <div class="col-tri">
                    <article class="card-blog">
                        <img src="../assets/art/work1.webp" alt="">
                        <div class="info">
                            <h3 class="mt-5 mb-5 ff-damion fc-primary">Duckonomics</h3>
                            <p class="ml-a mt-5">09/26/2023</p>
                        </div>
                        <p class="ml-10 mt-5 mb-20">
                            Duckonomics Meets Quackonomics.
                        </p>
                        <a href="blog-1" class="ml-10">
                            Read blog <i class="bi bi-box-arrow-up-right"></i>
                        </a>
                    </article>
                </div>
                <div class="col-tri">
                    <article class="card-blog">
                        <img src="../assets/art/work2.webp" alt="">
                        <div class="info">
                            <h3 class="mt-5 mb-5 ff-damion fc-primary">Quackonomics</h3>
                            <p class="ml-a mt-5">09/26/2023</p>
                        </div>
                        <p class="ml-10 mt-5 mb-20">
                            A Duck's Guide to Financial Success.
                        </p>
                        <a href="blog-1" class="ml-10">
                            Read blog <i class="bi bi-box-arrow-up-right"></i>
                        </a>
                    </article>
                </div>
                <div class="col-tri">
                    <article class="card-blog">
                        <img src="../assets/art/work3.webp" alt="">
                        <div class="info">
                            <h3 class="mt-5 mb-5 ff-damion fc-primary">Galactic Gastronomy</h3>
                            <p class="ml-a mt-5">09/26/2023</p>
                        </div>
                        <p class="ml-10 mt-5 mb-20">
                            Toasting with the Stars.
                        </p>
                        <a href="blog-1" class="ml-10">
                            Read blog <i class="bi bi-box-arrow-up-right"></i>
                        </a>
                    </article>
                </div>
            </div>
        </section>
        <!-- PREVIEW BLOGS SECTION END -->

        <!-- SUBSCRIBE TO NEWS LETTERS START -->
        <section class="subscribe bg-primary-foot" style="background-image: url('../assets/art/overlay.webp');">
            <div class="contained row ta-center">
                <div class="col-balance fc-white">
                    <h3 class="mb-a ff-damion mt-a">Subscribe to our newsletter:</h3>
                </div>
                <div class="col-balance">
                    <form action="#">
                        <input type="email" id="subscribe-email" aria-label="Subscribe to our email news" placeholder="Email" required>
                        <button class="btn-bg2">Subscribe</button>
                    </form>
                </div>
            </div>
        </section>
        <!-- SUBSCRIBE TO NEWS LETTERS ENS -->

        <section class="contained ta-center">
            <h2 class="section-title ff-damion">Reach us</h2>
            <p class="col-wide mlmr-a">
                Some text that would compel the user to hit that contact button if what the user have seen above
                is not enough, ofcourse you want as many potential clients as possible.
            </p>
            <a href="contact" class="btn-bg1 border-round mt-25">
                Get in touch
            </a>
        </section>

    </main>
	 <!-- ========== section end ========== -->

		<th:block th:insert="~{common/home_content_footer}"></th:block>

	</body>
	</html>